@charset "utf-8";
/* CSS Document */

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);

@font-face {
  font-family: 'LeagueGothicRegular';
  src: url('fonts/League_Gothic-webfont.eot');
  src: url('fonts/League_Gothic-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/League_Gothic-webfont.woff') format('woff'),
       url('fonts/League_Gothic-webfont.ttf') format('truetype'),
       url('fonts/League_Gothic-webfont.svg#LeagueGothicRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FontAwesome';
  src: url('fonts/fontawesome-webfont.eot?v=3.2.1');
  src: url('fonts/fontawesome-webfont.eot?#iefix&v=3.2.1') format('embedded-opentype'),
       url('fonts/fontawesome-webfont.woff?v=3.2.1') format('woff'),
       url('fonts/fontawesome-webfont.ttf?v=3.2.1') format('truetype'),
       url('fonts/fontawesome-webfont.svg#fontawesomeregular?v=3.2.1') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
	background: #EEE;
}

a{
	text-decoration: none;
	color: #666;
}

a:hover {
 cursor:pointer;
}

header div{
	width: 600px;
	margin: 24px auto 24px auto;
	text-align: center;
}

header a{
	color: #666;
	font: 60pt 'LeagueGothicRegular', sans-serif;
	text-transform: uppercase;
	text-shadow: #FFF 0px 2px 0px;
}

content div{
	padding-top: 1px;
	margin: auto;
	color: #666;
	font: 14pt/35px 'Source Sans Pro', sans-serif;
	text-shadow: #FFF 0px 1px 0px;
}

strong{
	color: #333;
}

.button{ 
	padding: 0px;
}

.button:hover{
	cursor: pointer;
}

.server-box{
	width: 800px;
	height: 35px;
	margin-bottom: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-webkit-transition: background 100ms ease-in;  
	-moz-transition: background 100ms ease-in;  
	-o-transition: background 100ms ease-in;
	text-align: center;
}

.playerlist{
	display: none;
	width: 800px;
	margin-top: 0px;
	margin-bottom: 12px;
	background: #F5F5F5;
	-moz-border-radius: 12px;
	border-radius: 12px;
}

#icon{
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 0.8em;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  margin-right: .3em;
}

#info-box{
	width: 800px;
	height: 35px;
	margin-bottom: 12px;
	background: #DDD;
	text-align: center;
}

#list-box{
	width: 800px;
	height: 35px;
	margin-bottom: 12px;
	background: #CCC;
	text-align: center;
}

#server-empty-box{
	width: 800px;
	height: 35px;
	margin-bottom: 12px;
	background: #CDE;
	text-align: center;
}

#server-empty-box:hover{
	background: #D5E6F7;
}

#server-online-box{
	width: 800px;
	height: 35px;
	margin-bottom: 12px;
	background: #CEC;
	text-align: center;
}

#server-online-box:hover{
	background: #D4F6D4;
}

#box-title{
	width: 316px;
	margin: 0px;
	padding: 0px 12px 0px 12px;
	text-align: left;
	display: inline-block;
}

#box-middle{
	width: 70px;
	position: relative;
	margin: 0px;
	text-align: right;
	display: inline-block;
}

#box-mission{
	width: 230px;
	position: relative;
	margin: 0px;
	text-align: right;
	display: inline-block;
}

#box-end{
	width: 116px;
	margin: 0px;
	padding: 0px 12px 0px 12px;
	text-align: right;
	display: inline-block;
}

#box-name{
	width:800px;
	margin: 0px;
	padding: 0px 12px 0px 24px;
	text-align: left;
	display: inline-block;
	margin-top: -35px;
}

#box-join{
	width:750px;
	margin: 0px;
	padding: 0px 12px 0px 24px;
	text-align: right;
	display: inline-block;
}

#install-div{
	margin: auto;
	border-radius: 12px;
	color: #666;
	background: #DDD;
	font: 14pt/35px 'Source Sans Pro', sans-serif;
	text-shadow: #FFF 0px 1px 0px;
	width:750px;
	padding:25px;
}

#install-div a{
	color:#3399FF;
}

#install-div a:hover{
	text-decoration:underline;
}


h1{
	text-align: center;
	color: #666;
	margin: -10px auto 0px auto;
	font: 40pt 'LeagueGothicRegular', sans-serif;
	text-shadow: #FFF 0px 2px 0px;
}

h2 {
	text-align: center;
	color: #666;
	margin: -5px auto 10px auto;
	font: 20pt 'LeagueGothicRegular', sans-serif;
	text-shadow: #FFF 0px 2px 0px;
}